.svg-map {
  width: 90%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  margin-top: 50px;

  &__location {
    cursor: pointer;

    &:focus,
    &:hover {
      filter: brightness(115%);
      outline: 0;
    }
  }
}

svg {
  pointer-events: none;
}

path {
  pointer-events: auto;
}
