.navbar-container {
  display: flex;
  // justify-content: flex-end;
  margin: 0 auto;
}

.countries_search {
  justify-content: flex-start;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 286px;
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  font-size: 1.2em;
  margin-top: 40px;
}
