.about-wrapper {
  padding-top: 2em;
}

.title {
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
  margin-top: 0;
  line-height: 1.6em;

  text-align: center;

  font-size: 1.2em;
}

.content-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.paragraph {
  color: rgb(80, 75, 75);
  margin-top: 0;
  line-height: 1.6em;
  margin-left: 6em;
  margin-right: 6em;
  text-align: center;
  font-size: 1.2em;
}
